.custom-nav .nav-btn {
    padding: 20px;
    margin: 5px; 
    color: rgb(45, 118, 185);
    border-radius: 0;
}

.custom-nav .nav-btn:hover {
    color: rgb(185, 120, 173);
    border: 0;
}

.nav-link.active {
    color: rgb(185, 120, 173);
    border: 0;
}
