#root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-image: url("./assets/cesar-couto-TIvFLeqZ4ec-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}